<% provide(:title, "Home") %>

<% if logged_in? %>
<div>
    <div class="container">
        <div class="row">
            <%= render'shared/info_card' %>
            <div class="col-md-6 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0"><i class="fa fa-feed" style="padding-right: 5px;"></i> Activity Feed</h5>
                    </div>
                    <div class="card-body">
                        <%= render 'shared/activities'%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% else %>

<div class="container">
    <div class="row body">
        <div class="col">
            <%= image_tag("home/Word Choice.png") %>
        </div>
        <div class="col">
            <p class="text-left" id="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />Pellentesque ante felis, viverra vel finibus in, facilisis <br />quis nisi. Nunc justo nulla, iaculis ut viverra sit amet,<br />mattis eget dui. Praesent ex mauris, finibus
                sed <br />fermentum a, auctor nec nisi. Integer fringilla <br />velit turpis, id tincidunt mi gravida id. <br />Fusce dapibus metus vitae nulla tempus ultricies. <br />Orci varius natoque penatibus et magnis dis <br />parturient montes,
                nascetur ridiculus mus. <br /></p>
        </div>
    </div>
</div>

<% end %>