<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">Word Choice</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto"></ul>
                    <span class="navbar-text actions">
                        <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"><a class="btn btn-light action-button" role="button" href="#">Sign Up</a><a class="login" href="#">Log In</a></span></div>
                    </span>
                </div>
        </div>
    </nav>
    <div class="container">
        <div class="row body">
            <div class="col">
                <%= image_tag("home/Word Choice.png") %>
            </div>
            <div class="col">
                <p class="text-left" id="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />Pellentesque ante felis, viverra vel finibus in, facilisis <br />quis nisi. Nunc justo nulla, iaculis ut viverra sit amet,<br />mattis eget dui. Praesent ex mauris, finibus
                    sed <br />fermentum a, auctor nec nisi. Integer fringilla <br />velit turpis, id tincidunt mi gravida id. <br />Fusce dapibus metus vitae nulla tempus ultricies. <br />Orci varius natoque penatibus et magnis dis <br />parturient montes,
                    nascetur ridiculus mus. <br /></p>
            </div>
        </div>
    </div>

</body>

