
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="#">Word Choice</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav mr-auto"></ul>
            <span class="navbar-text actions"><a class="login" href="#"><i class="fa fa-home"></i> Dashboard</a></span>
            <span class="navbar-text actions"><a class="login" href="#"><i class="fa fa-book"></i> Lessons</a></span>
            <span class="navbar-text actions"><a class="login" href="#"><i class="fa fa-users"></i> Members</a></span>
            <span class="navbar-text actions"><a class="login" href="#"><i class="fa fa-user-tie"></i> Admin</a></span>
            
            <span class="navbar-text actions">
                <div class="dropdown"><a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle" href="#"><i class="fa fa-user-circle"></i> Profile </a>
                    <div role="menu" class="dropdown-menu">
                        <a role="presentation" class="dropdown-item" href="#"> <i class="fa fa-user-circle"></i> View Profile</a>
                        <a role="presentation" class="dropdown-item" href="#"> <i class="fa fa-cog"></i> Settings</a>
                        <a role="presentation" class="dropdown-item" href="#"> <i class="fa fa-sign-out-alt"></i> Logout</a>
                    </div>
                </div>
            </span>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col" style="padding-top: 2px;">
            <div class="card" style="min-width: 400;max-width: 400;">
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-xl-8 offset-xl-2">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0"><i class="fa fa-gear" style="padding-right: 5px;"></i>Settings</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col" style="padding-bottom: 5px;"><input type="file" /></div>
                                    </div>
                                    <div class="row">
                                        <div class="col" style="padding-bottom: 5px;"><input type="text" placeholder="Name" style="min-width: 300px;" /></div>
                                    </div>
                                    <div class="row">
                                        <div class="col" style="padding-bottom: 5px;"><input type="email" style="min-width: 300px;" placeholder="Email@Email.com" /></div>
                                    </div>
                                    <div class="row">
                                        <div class="col" style="padding-bottom: 5px;"><input type="password" placeholder="Password" style="min-width: 300px;" /></div>
                                    </div>
                                    <div class="row">
                                        <div class="col" style="padding-bottom: 5px;"><input type="password" placeholder="Confirm Password" style="min-width: 300px;" /></div>
                                    </div>
                                    <div class="row">
                                        <div class="col" style="padding-bottom: 5px;"><button class="btn btn-outline-success" type="submit">Submit</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
