 <% provide(:title, "Sign Up ") %>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <%# <img src="pexels-linda-ellershein-3127880.jpg" style="max-width: 400px;min-width: 100px;" /> %>
            <%= image_tag("signup/signup.jpg", style: "max-width: 400px; min-width: 100px;")%>
        </div>
        <div class="col text-center align-self-xl-center">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0"><i class="fa fa-pencil" style="padding-right: 5px;"></i>Sign Up</h5>
                </div>
                <div class="card-body">
                    <%= render 'form' %>
                </div>
            </div>
        </div>
    </div>
</div>