<% user ||= current_user%>
<div class="stats">
    <a href= "<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
        Following: 
    </strong><%= @user.followed_users.count %>
    </a>

    <a href= "<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
       Followers:
    </strong>  <%= @user.followers.count %>
    </a>
</div>