<div class="footer-dark fixed-bottom" style="height: 56px;padding: 0;">
    <footer>
        <div class="container">
            <p class="copyright">Jake Nildo Giangan © 2020</p>
        </div>
    </footer>
</div>